.members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    /* margin: 80px 20px; */
    /* width: 100%; */
}
.img-member {
    width: 100px;
    height: 100px;
    margin: auto;
}
.rounded-circle {
    border-radius: 50% !important;
    width: 100px;
    height: 100px;
}